<div class="mx-auto p-6 mt-6 container">
    <div class="my-5 text-center">
        <h1 class="text-4xl font-bold my-3 hover:scale-125">Lista de Usuarios</h1>
        <button (click)="MostrarUsuarios()" type="button" [ngClass]="Mostrar ? 'bg-blue-600 hover:bg-red-500' : 'bg-red-500'" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Mostrar Usuarios</button>
    </div>
    <hr class="bg-gray-700">
    <div class="mt-6" *ngIf="Mostrar">
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-800 text-gray-200">
            <thead>
                <tr class="text-left border-b border-gray-300">
                    <th class=" px-4 py-3 text-white text-center">ID</th>
                    <th class=" px-4 py-3 text-white text-center">Nombre</th>
                    <th class=" px-4 py-3 text-white text-center">Usuario</th>
                    <th class=" px-4 py-3 text-white text-center">Email</th>
                    <th class=" px-4 py-3 text-white text-center">Telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuarios" class="bg-gray-700 border-b border-gray-600 hover:bg-black">
                    <th class="border border-gray-400 px-4 py-3">{{user.id}}</th>
                    <th class="border border-gray-400 px-4 py-3">{{user.name}}</th>
                    <th class="border border-gray-400 px-4 py-3">{{user.username}}</th>
                    <th class="border border-gray-400 px-4 py-3">{{user.email}}</th>
                    <th class="border border-gray-400 px-4 py-3">{{user.phone}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
